:root{
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
html{
    font-size: 62.5%;
}
body {
    font-family: "Raleway", sans-serif;
    background-color: var(--light-grayish-blue);
}

/* HEADER */
header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}
header a {
    text-decoration: none;
    color: var(--very-dark-blue);
}
nav a {
    font-weight: 700;
    padding-right: 40px;
}
nav a:hover {
    color: var(--desaturated-blue);
}
.logo-header {
    display: flex;
}
.logo-header img {
    height: 50px;
}
/* FIN HEADER */


.section-two{
    display: grid;
    grid-template-areas: 
    "productive illustration2"
    "testimonial illustration2";
}
.productive{
    grid-area: productive;
}
.testimonial{
    grid-area: testimonial;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: .1rem .1rem .9rem .2rem rgba(92,90,90,0.25);
}

.image{
    width: 38px;
    height: 38px;
    border-radius: 25px;
}
.profile{
    position: relative;
    gap: 20px;
    display: flex;
    flex: row;
}
.illustration2{
    grid-area: illustration2;
    height: 32rem;
    width: 42rem;
}
h1{
    font-size: 20px;
}
p{
    font-weight: bold;
}



/* SECTION THREE */
.section-three {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--desaturated-blue);
    height: 20rem;
    color: var(--light-grayish-blue);
}
.text {
    padding: 30px;
    margin-right: 15rem;
}
.text .text-title {
    font-size:x-large;
    font-weight: 700;
}
.text p {
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 1.3rem; 
    max-width: 400px;
}

.form-container {
    padding: 40px;
    border-radius: 4px;
}


input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ce2020;
    border-radius: 4px;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.1);
}

button {
    padding: 8px;
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.1);
}

.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}







/* FOOTER */
footer {
    background-color: var(--very-dark-blue);
    color: var(--light-grayish-blue);
    padding: 5rem;
}
.container {
    display: flex;
    justify-content: space-around;
}
.logo-footer img {
    width: 10rem;
    padding-bottom: 2rem;
}
.contact-info {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.contact-info img {
    margin-right: 8px; 
}
.contact-info p {
    font-weight: 400;
    padding: 0.5rem;
}

.footer-about {
    padding-top: 6rem;
}
.footer-about a {
    text-decoration: none;
    color: var(--light-grayish-blue);
    transition: all .5s ease;
}
.footer-about a:hover {
    color: var(--bright-blue);
}
.footer-about ul {
    list-style-type: none;
}
.footer-about .list li {
    line-height: 2.5rem; 
}

.footer-contact {
    padding-top: 6rem;
}
.footer-contact a {
    text-decoration: none;
    color: var(--light-grayish-blue);
    transition: all .5s ease; 
}
.footer-contact a:hover {
    color: var(--bright-blue);
}
.footer-contact ul {
    list-style-type: none;
}
.footer-contact .list li {
    line-height: 2.5rem; 
}

.footer-socials {
    padding-top: 6rem;
}
.footer-socials a {
    color: var(--light-grayish-blue);
    display: inline-block;
    min-height: 20px;
    width: 20px;
    line-height: 20px;
    margin: 0 10px 10px 0;
    border-radius: 50%;
    border: 1px solid var(--light-grayish-blue); 
    text-align: center;
    color: var(--light-grayish-blue);
    transition: border-color 0.3s, color 0.3s; 
}
.footer-socials a:hover {
    border-color: var(--bright-blue);
    color: var(--bright-blue);
}

